@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.empty-body {
    margin: auto;
    width: 1200px;
    height: 1200px;

    /* 헤더 높이만큼 여백 */
    padding-top: 110px;
}

.navbar {
    /* 수직 가운데정렬 */
    align-items: center;

    /* 상단에 고정 */
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar-light .navbar-brand {
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 40px;
    color: #60B5F3;
}

.navbar-nav {
    font-size: 22px;
    color: #92CFFD;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #60B5F3;
}

.navbar-light .navbar-nav .nav-link {
    color: #92CFFD;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #60B5F3;
    font-size: 23px;
}

.navRightBox {
    flex-direction: row;
    margin-right: 2rem;
}

/* 오늘 방문자 수 가운데 정렬 */
.tdCount {
    display: flex;
    justify-content: right;
    color: #818A90;
    margin-right: 1rem;
}

/*991px 이하 환경에서는 방문자 수 숨기기*/
@media (max-width: 991px) {
    .tdCount {
        display: none;
    }
}

/* 브랜드 약간위로 */
.navbar-brand img {
    position: relative;
    bottom: 1rem;
}