/* 기본 스타일 설정 */
* {
    font-family: "Jua", sans-serif;
    color: #333;
}

/* 레이아웃 설정 */
main {
    width: 1200px;
    margin: auto;
}

/* 포스팅 박스 스타일 */
.mypostingbox {
    width: 50%;
    margin: 30px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;
    border-radius: 5px;
}

.mybtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mybtn>button {
    margin-top: 5px;
    width: 20%;
}


/* 카드 스타일 */
.card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.card-body>h5 {
    font-size: 30px;
    margin: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}

/* 회원 목록 스타일 */
.member {
    margin: 50px 0;
    text-align: center;
}

.cardMsg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    display: block;
}

.card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
}

/* 모달 콘텐츠 스타일 */
.modal-content {
    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    width: 600px;
    z-index: 2;
    transition: transform 0.3s ease;
}

/* 모달 헤더 스타일 */
.modal-header {
    position: relative;
    padding-bottom: 20px;
}

.close {
    color: #666;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
}

/* 모달 본문 스타일 */
.modal-body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modal-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal-left img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.modal-right {
    box-sizing: content-box;
    width: 470px;
    position: absolute;
    top: 200px;
    left: 310px;
}

#modalTitle {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

#modalShort {
    font-size: 20px;
    text-align: center;
}

#modalDescription {
    text-align: left;
    font-size: 20px;
}

/* 모달 버튼 스타일 */


.button {
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.button img {
    width: 20px;
    height: 20px;
    margin: 2px 5px 1px 5px;
    object-fit: cover;
}

.button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

#blogButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* 모달 열릴 때 애니메이션 */
.modal.open .modal-content {
    transform: translateY(0);
}